@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
body{
    background-color: #020202;
    color: #c4f8ff;
    text-align: center;
    margin: 0%;
    font-family: 'Comfortaa';
}
footer{
    background-color: #1d1d1d;
    color: #e0fbff;
}
.clock{
    font-size: 225px;
}