@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
body{
    background-color: dodgerblue;
    color: ghostwhite;
    text-align: center;
    padding: 0%;
    margin: 0%;
    font-family: 'Comfortaa';
}
footer{
    background-color: lightskyblue;
    color: mediumblue;
}
.clock{
    font-size: 156px;
}