@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
body{
    background-color: #292929;
    color: #c9c9c9;
    text-align: center;
    padding: 10px;
    margin: 0%;
    font-family: 'Comfortaa';
}
footer{
    background-color: #4d4d4d;
    color: #808080;
}
.clock{
    font-size: 48px;
}
.card{
    background-color: #0f0f0f;
}