@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
body{
    background-color: #436286;
    text-align: center;
    margin: 0%;
    font-family: 'Comfortaa';
}
footer{
    background-color: #283b50;
}